#mainmenu {
    background: #a3a3a3;
    position: fixed;
    overflow: hidden;
    height: 100px;
    width: 100%;
    top: 0px;
}
#mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    height: 100px
}
#mainmenu ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 100px
}
#mainmenu ul li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 100px;
}
#mainmenu ul li a:hover {
    background-color: #ebebe8;
}

.active-menu {
    background-color: #ebebe8;
}

#mainmenu li:nth-child(2n) {
    color: black;
    margin: 35px 0;
}


.block-all-memes {
  padding-top: 100px;
}


.tag-line {
  margin-bottom: 20px;
  margin-top: 20px;
}
  
.tag-inline {
  padding: 7px 7px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-overflow: ellipsis;  
  background: #a3a3a3;
  text-decoration: none;
}

.tag-inline:hover {
  color: #0332FF;
  text-decoration: none;
}



.image-properties {
  display: block; 
  margin: 0 auto;
  margin-top: 20px;
  width: auto;
  max-width: 700px;
  height: auto;
  max-height: 700px;
  border: 1px solid black;
}


.block-memes {
  margin-left: 20%;
  margin-right: 20%;
}


.memes-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none; 
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
}
.memes-title:visited {
  color: black;
  text-decoration: none;
}
.memes-title:hover {
  color: #a3a3a3;
}


.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.pagination a.active {
  background-color: #a3a3a3;
  color: black;
  border: 1px solid #a3a3a3;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.pagination b {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination b.active {
  background-color: #a3a3a3;
  color: black;
  border: 1px solid #a3a3a3;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
.pagination a:hover:not(.active) {
  background-color: #ebebe8;
}




body{
  background: #f2f2f2;
  font-family: 'Fira Sans', sans-serif;
}

.search {
  width: 100%;
  /*position: inline;*/
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #a3a3a3;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #a3a3a3;
  background: #a3a3a3;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: auto;
  margin: 0 auto;
}

.search-type{
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  text-decoration: none;{
  padding-top: 10px;
  background: #a3a3a3;
}
